<div class="form-group">
    <label class="col-sm-3 control-label" for="input-field_method_append_text_separator">{{ entry_method_append_text_separator }}</label>
    <div class="col-sm-9">     
        <input type="text" name="action[method][{{ method }}][separator]" id="input-field_method_append_text_separator" value='{{ method_params['separator'] }}' placeholder="{{ entry_method_append_text_separator }}" class="form-control">
    </div>    
</div>