<div class="form-group">
    <label class="col-sm-3 control-label" for="input-field_method_param_char_count"><span data-toggle="tooltip" title="{{ help_char_count }}">{{ entry_char_count }}</span></label>
    <div class="col-sm-9">
        <input type="text" name="action[method][{{method}}][char_count]" id="input-field_method_param_char_count" class="form-control" value='{{method_params['char_count']}}'>
    </div>
</div>
