{{ header }}
<div id="account-account" class="container">
    <div id="content">
      <h2 style="margin-top:40px;">Добро пожаловать в систему Documentov!</h2>
      <ul style="margin-top:20px;">
        <li><a href="https://www.documentov.com" target="_blank">Официальный сайт</a></li>
        <li><a href="https://www.documentov.com/index.php?route=document/folder&folder_uid=c0b18e5b-6879-11e8-a2ab-201a06f86b88&_=439128352" target="_blank">Описание Documentov</a></li>
        <li><a href="https://www.documentov.com/index.php?route=document/folder&folder_uid=b38a8b47-84f5-11e8-a439-485ab6e1c06f&_=493765063" target="_blank">Форум Documentov</a></li>
        <li><a href="https://www.youtube.com/channel/UC7xMhFDZXTalbLKoj9aXpDw" target="_blank">Изучаем Documentov</a></li>
      </ul>
    </div>
</div>
{{ footer }}