<footer>
  <div class="container"><a href="http://www.documentov.com" target="_blank">{{ text_project }}</a>|
      <a href="http://www.documentov.com/doc" target="_blank">{{ text_documentation }}</a>|
      <a href="http://www.documentov.com/forum" target="_blank">{{ text_support }}</a><br />
    </div>
</footer>
</body></html>