<div class="form-group">
    {% import "default/template/macros/field_method_parameter.twig" as fmpar %}
    {{ fmpar.show(method_params_prefix_hierarchy, method_params_name_hierarchy, 'field_line', method_params, method_data) }}   
</div>