    <div class="modal-header">
        <div><h4 class="modal-title text-left">{{ title_confirm }}</h4></div>
    </div>
    

    <div class="modal-body" id="form_route">
            {{ text_unselect_folder }}
    </div>
                  

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                    <div style="margin-top: 15px;" class="visible-xs"></div>
                    <span class="btn btn-default btn-block" data-dismiss="modal">{{ button_close }}</button>
            </div>
        </div>
    </div>
