

<div class='panel panel-info'>
    <div class="panel-heading">
        Добро пожаловать в Documentov
    </div>
    <div class='panel-body'>
        <h2>Бесплатный документооборот здесь</h2>
        <p>Добро пожаловать на официальный веб-сайт бесплатной системы электронного документооборота Documentov. Здесь вы можете 
            бесплатно <a href="/index.php?route=document/document&document_uid=3496a6db-89ac-11e8-add9-52540028bc1e">скачать программу для автоматизации любых документоориентированных бизнес-процессов</a>. Система Documentov не 
            ограничивается только автоматизацией обычного делопроизводства. Documentov позволяет реализовать любые документные потоки, 
            автоматизируя таким образом любые бизнес-процессы любой организации. 
            <br><br>
            Documentov - это платформа-конструктор для создания разнообразных "трехбуквенных" корпоративных приложений (ECM/СЭД, CRM и пр.). Любое
             из этих приложений занимается, по сути, фиксацией информации и процессами ее изменения. Documentov предлагает набор инструментов 
             для создания документов, фиксирующих информацию, и управления ими. Документы в системе декомпозируются на типизированные поля, каждое из которых 
             предназначено для хранения соответствующего вида информации (текстовая, числовая, временная и т.д., а также табличная, файловая и пр.). Над каждым 
             документов может выполняться одно или несколько действий, которые могут дополнять либо изменять зафиксированную информацию. Создание типов документов, 
             определение их полей, создание маршрутов движения документов и набора действий, которые могут выполнять пользователи или сама система - все это 
             обеспечивают инструменты системы Documentov. Эти инструменты просты и логичны, а их применение не требует изучения языков программирования, поскольку 
             все они доступны в графическом виде. <br><br>
             Итак, управляя документами, можно управлять любыми бизнес-процессами любой организации. И, поскольку понятие документа для системы ключевое, мы обычно называем свою 
             платформу системой электронного документооборота, хотя на самом деле возможности нашей разработки намного превосходят функции систем класса СЭД (систем 
             электронного документооборота).
        </p>
        <hr>
        <h2><i class="fa fa-2x fa-exclamation-circle" style="color:green;"></i> Преимущества Documentov</h2>
        <p><i class="fa fa-2x fa-plus-circle" style="color:green;"></i> Какие бы ни были <strong>бизнес-процессы в вашей организации</strong>, их <strong>можно автоматизировать</strong> при помощи 
            программы Documentov. <strong>Без программирования!</strong> 
        Уникальный графический конструктор моделирования документов, разработанный нами более 10 лет назад, сегодня применяется в нескольких системах, 
        но только в Documentov он достиг тех возможностей, которые закладывались в него изначально, и позволяет реализовывать самые сложные и 
        невероятные задачи. Конечно, этот сайт вместе с форумом не является серьезным показателем, но, тем не менее, это все создано на основе 
        Documentov (ведь и сайт, и форум - это всего лишь набор документов). А сколько вы еще знаете систем электронного документооборота, которые 
        позволяют сделать такие, в общем-то, скромные вещи, немного выходящие за пределы классического делопроизводства?</p>
        <p><i class="fa fa-2x fa-plus-circle" style="color:green;"></i> Разрабатывая свои бизнес-процессы в условиях ограниченного бюджета, <strong>используйте здравый смысл</strong>, а не типовые решения. Documentov имеет <strong>впечатляющие возможности кастомизации</strong> при очень низком пороге вхождения и 
            позволяет людям, понимающим бизнес, а не только дипломированным ИТ-специалистам, создавать модели бизнес-процессов, благодаря простоте и доступности системы. Между тем, и ИТ-специалисты найдут чем себя занять в 
            нашей системе - мы предлагаем разумный баланс между простотой и функциональностью.
        </p>
        <p><i class="fa fa-2x fa-plus-circle" style="color:green;"></i> Зачем платить много денег за автоматизацию документооборота? Скачивайте Documentov прямо сейчас и начинайте использовать <strong>бесплатно</strong>! Не хотите 
            скачивать, устанавливать и настраивать? Воспользуйтесь нашим <a href="/index.php?route=document/document&document_uid=a60d0ff9-ac19-11e8-8ec8-b0423851f0be">облачным документооборотом</a>, где уже все сделано и работает.
        </p>
        <p><i class="fa fa-2x fa-plus-circle" style="color:green;"></i> У нас <strong>открытый исходный код</strong>! Никаких ловушек, никаких "закладок", все честно и прозрачно!</p>
        <p><i class="fa fa-2x fa-plus-circle" style="color:green;"></i> Не уверены, что вам хватит нашего функционала? Documentov - это не кусок монолита, трудно поддающийся изменениям. Это <strong>модульная система с очень гибкими возможностям</strong>. Вы всегда сможете воспользоваться дополнительными платными модулями, которые могут решить практически любую задачу. А если нужного вам модуля еще нет, вы можете разработать его самостоятельно либо заказать его разработку у нас.</p>
        
        <hr>
        <h2><i class="fa fa-2x fa-cloud" style="color:green;"></i> Облачный документооборот</h2>
        <p>Вся мощь нашей системы автоматизации документооборота доступна в облаке. Не нужно ничего устанавливать и настраивать. <a href="/index.php?route=document/document&document_uid=a60d0ff9-ac19-11e8-8ec8-b0423851f0be">Открывайте</a> и пользуйтесь! В облаке находятся все наши модули, как платные,  так и бесплатные, и вы можете пользоваться ими.</p>
        
        <hr>
        <h2><i class="fa fa-2x fa-support" style="color:green;"></i> Техническая поддержка</h2>
        <p>Мы всегда готовы помочь вам в использовании нашей системы. Вы можете задавать свои вопросы на <a href="/index.php?route=document/folder&folder_uid=b38a8b47-84f5-11e8-a439-485ab6e1c06f&_=459471621">форуме</a>, мы всегда отвечаем. К сожалению, не всегда 
        получается отвечать быстро, но вы можете воспользоваться услугами нашей технической поддержки, где быстро отвечают всегда! И, конечно, не только быстро отвечают, но и решают любые трудности.</p>
        <p>Наши пользователи находятся в Казахстане, России, Украине, Беларуси, Кыргызстане, Азербайджане, Армении и других странах мира. Мы будем рады, если вы присоединитесь к нам!</p>
        
    </div>
</div>