<script>
  var field_functions = [];
  {% if draft == 1 %}
    $('#button-remove_draft').removeClass('hidden');
  {% endif %}
</script>
{% if draft == 1 %}
  <div class="text-center alert alert-info" style="margin-top:5px;">
    {{ text_document_draft }}
  </div>
{% endif %}
{% if folder_uid is not empty %}
  <div id="document_form">
  {% endif %}
 